#portfolio {
    background: #262626ee;
    margin: 10em auto 0em auto;
    width: 85vw;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 2em 4em 2em 0;
}

#portfolio-header {
    font-size: 26px;
    font-weight: bold;
}

@media (max-width: 600px) {
    #portfolio {
        width: 100vw;
        padding: 2em 0em 2em 0em;
        border-radius: 0px;
    }
}
