/* HEADER */

.navbar {
  font-size: 1em;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(91 5 94 / 0.5)
}

.navlist {
  width: auto;
  text-align: center;
  padding-inline-start: 0;
}

.navlist li {
  position: relative;
  list-style: none;
  display: inline-block;
  padding: 8px;
  color: #fff
}

.navlist li:hover {
  color: #17ddff;
}

.headerlink {
  color: inherit;
  text-decoration: inherit;
}

@media (max-width: 600px) {
  .navbar {
    letter-spacing: 1px;
  }
}
